surf/
/surf
.surf
.env.example
.env
.DS_Store
node_modules/
dist/
build/
coverage/
*.log
*.tmp
*.bak
*.swp
*.swo       
.idea/
.vscode/
*.iml
*.sln
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.pid
*.seed  
*.pid.lock
*.tgz
*.gz
*.zip
*.7z
*.tar
*.rar
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.db-journal
*.bak
*.backup
*.tmp
